<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <main class="main">
      <h1>Adivina el número</h1>
      <p>Introduce aquí tu número:</p>
      <form action="" method="">
        <input type="text" name="userAnswer" class="js-answer" />
      </form>
      <input type="button" value="Prueba" class="js-btn" />
      <p class="js-clue">Pista: escribe el número y dale a Prueba</p>
      <p class="js-tries">Número de intentos:</p>
    </main>
    <script type="text/javascript" src="./assets/js/main.js"></script>
  </body>
</html>
